/*for header*/
.head-full{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    border: 50px;
    margin: 0px;

}
.head-thing{
display: flex;
align-items: center;


    
    
}

.head-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    margin: 197px 0px 32px 240px;
    border: 0px;
    padding-left:0;
    text-align: left;
}
.head-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    height: 90px;
    margin: 32px 0px 0px 240px;
    
    

}
.head{
    margin: 32px 0px 147px 240px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding:20px 43px;
    align-items: flex-start;
    gap: 10px;
    width: 177px;
    height: 64px;
    color: white;
    border: 0px;
    
}
.head-flower{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0px 97px;
   
    
}
/*for main*/
/*------------*/
/*first-section*/
.first-section-full{
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 100px 0px;
}
.first-section-for-display{
    display: flex;
    gap: 50px;
    align-items: center;
}
.first-section-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 230px 0px 24px 423px;
}
.color-change-again{
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.first-section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin: 0px 0px 32px 395px;
}
.sign{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 0px 162px 601px;
    
}
/*for bonus*/
.bonus-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 580px;
    margin: 128px 700px 0px 700px;
}
.bonus-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 20px 663px 43px 663px;
}
.bonus{
    width: 1920px;
    height: 820px;
}
.common{
    display: flex;
    gap: 24px;
    margin: 48px 240px;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.common-pink{
    display: flex;
    gap: 390px;
    padding: 100px 50px 180px 390px;
}
.four-bg-pic1{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pic1{
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    padding: 110px 78px 0px 76px;
}
.four-bg-pic2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.pic2{
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding: 117px 47px 51px 47px;
}
.four-bg-pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;

}
.pic3{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding: 67px 75px 0px 75px;
}
/*section-third*/

.trd-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 180px;
    margin: 128px 870px 0px 870px;
}
.trd-sec{
    width: 1920px;
    height: 720px;
}
.trd-dsc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 20px 663px 43px 663px;
}
.four-photo{
    display: flex;
    gap: 24px;
    margin: 180px 240px;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    
}

/*section-two*/
.second-section{
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    background-image: url('../images/Rectangle 9.png');
    margin: 128px 240px;
}


.second-section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 122px 534px 10px 533px;
}
.second-section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px ;
}
.second-section-both{
display: flex;
align-items: center;
margin:48px 264px 121px 287px  ;

}
.second-text-area{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    
}
.subs{
    margin-left: 16px;
}
/*Bonus 2*/
.bonus-title2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 580px;
    margin: 128px 700px 0px 700px;
}
.bonus-desc2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 20px 663px 43px 663px;
}
.bonus2{
    width: 1920px;
    height: 820px;
    background-color: #E55473;
}
.common3{
    display: flex;
    gap: 24px;
    margin: 48px 240px;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.common-pink2{
    display: flex;
    gap: 390px;
    padding: 100px 50px 180px 390px;
}
.four-bg-pic4{
    width: 464px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(167, 33, 98, 0.15);
}
.pic4{
    width: 320px;
    height: 410px;
    flex-shrink: 0;
    padding: 110px 78px 0px 76px;
}
.four-bg-pic5{
    border-radius: 50%;
background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 600px;
    flex-shrink: 0;
}
.pic5{
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding: 117px 47px 51px 47px;
}
.four-bg-pic6{
    border-radius: 50%;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 600px;
    flex-shrink: 0;

}
.pic6{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding: 67px 75px 0px 75px;
}

/*for footer*/
.footer-full{
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}
.footer-title{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 128px;
    
}
.color-change{

    color:#FFF
}
.footer-description{
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 649px 32px 648px;
    
    
}
.footer-final{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}